
    <div class="ae-grid au-xs-ta-center au-mb-4">
      <div *ngFor="let persona of infoPage.equipo" class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img class="pic-2" [src]="persona.url" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{persona.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{persona.puesto}}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{persona.descripcion}}</p><a href="#0" class="ae-u-bolder au-underline"></a>
      </div>
      
    </div>
    <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">SAWOK.NET</h4>
        <p>Empresa en constante crecimiento en el ambito tecnologico con el cual brindamos los mejores servicios.</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest" style="color: black;">Sobre Nosotros</h6>
        <p class="au-lh-3" style="color: black;">somos una empreso en crecimiento en el mundo informatico como principal negocio el desarrollo de aplicaciones "moviles, web, escritoris y hibridas". con este enfoque posicionamos a nuestros clientes potenciales . </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest" style="color: black;"> Vision</h6>
        <p class="au-lh-3" style="color: black;">Ser una empresa líder en el desarrollo y mantenimiento de aplicaciones web, de escritorio y móviles, reconocida por nuestra innovación, calidad y compromiso con la satisfacción del cliente, impulsando la transformación digital de nuestros clientes y contribuyendo al crecimiento tecnológico global.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest" style="color: black;"> Mision</h6>
        <p class="au-lh-3" style="color: black;">Proveer soluciones tecnológicas de alta calidad a través del desarrollo y mantenimiento de aplicaciones web, de escritorio y móviles, asegurando un servicio personalizado que responda a las necesidades específicas de nuestros clientes. Fomentamos la innovación continua y el desarrollo profesional de nuestro equipo, generando un impacto positivo en la comunidad y en el entorno digital. </p>
        
      </div>
    </div>

